@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: THICCCBOI-Black;
    src: url(./assets/fonts/Thicccboi/THICCCBOI-Black.woff2);
}

@font-face {
    font-family: THICCCBOI-Bold;
    src: url(./assets/fonts/Thicccboi/THICCCBOI-Bold.woff2);
}

@font-face {
    font-family: THICCCBOI-ExtraBold;
    src: url(./assets/fonts/Thicccboi/THICCCBOI-ExtraBold.woff2);
}

@font-face {
    font-family: THICCCBOI-Light;
    src: url(./assets/fonts/Thicccboi/THICCCBOI-Light.woff2);
}

@font-face {
    font-family: THICCCBOI-Medium;
    src: url(./assets/fonts/Thicccboi/THICCCBOI-Medium.woff2);
}

@font-face {
    font-family: THICCCBOI-Regular;
    src: url(./assets/fonts/Thicccboi/THICCCBOI-Regular.woff2);
}

@font-face {
    font-family: THICCCBOI-SemiBold;
    src: url(./assets/fonts/Thicccboi/THICCCBOI-SemiBold.woff2);
}

@font-face {
    font-family: THICCCBOI-ThicccAF;
    src: url(./assets/fonts/Thicccboi/THICCCBOI-ThicccAF.woff2);
}

@font-face {
    font-family: THICCCBOI-Thin;
    src: url(./assets/fonts/Thicccboi/THICCCBOI-Thin.woff2);
}

/* Select */
::selection {
    background: #4BC300;
    color: #fff;
    text-shadow: none;
}


::-webkit-scrollbar {
    width: 6px;
    background-color: #060505;
}

::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment {
    display: none;
}

::-webkit-scrollbar-track-piece {
    background-color: transparent;
}

::-webkit-scrollbar-thumb:vertical {
    border-radius: 0px;
    background-image: linear-gradient(100.68deg, #4BC300 -19.35%, #336613 135.67%) !important;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --sidebar-width: 230px;
    --sidebar-logo-height: 140px;
}

body {
    background: #fff;
    color: #111111;
}

#root {
    height: fit-content;
}

.sidebar>div {
    width: var(--sidebar-width);
}

.sidebar-logo {
    height: var(--sidebar-logo-height);
    padding: 0px 40px;
    padding-top: 30px;
}

.sidebar-list {
    height: calc(100% - var(--sidebar-logo-height));
}

.sidebar-list a.active .icon {
    color: #4BC500;
}

.top-header {
    display: none;
}

.sidebar-close-btn,
.hamburger-icon-wrapper {
    display: none;
}

.body-wrapper {
    width: calc(100% - var(--sidebar-width));
    margin-left: var(--sidebar-width);
}


.gallery-image:hover .gallery-buttons-wrapper {
    bottom: 0;
}

.gallery-image:hover .gallery-delete-wrapper {
    top: 10px;
}

/* react-modal */
.ReactModalPortal>div {
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.6) !important;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    /* Add transition property */
}

.ReactModalPortal>div>div {
    inset: 0 !important;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
    height: fit-content !important;
    padding: 20px !important;
    border-radius: 20px !important;
    border: none !important;
    transition: all 0.3s ease-in-out;
    /* Add transition property */
    max-width: 500px !important;
    /* Ensure the max-width is enforced */
    background: white;
    /* Ensure the modal content is visible */
    margin: 0%;
}

.ReactModalPortal>div.ReactModal__Overlay--after-open {
    opacity: 1;
}

.ReactModal__Content {
    max-width: 500px;
    /* Ensure the max-width is enforced */
    margin: auto;
    /* Center content within the modal */
}

/* react-daterange-picker */
.react-daterange-picker,
.react-daterange-picker__wrapper,
.react-daterange-picker__inputGroup {
    border-radius: 8px;
    padding: 3px;
    background-color: #F6F6F6;
    color: #7A7A7A;
    border: none;
    min-width: fit-content !important;
}

.react-daterange-picker__inputGroup__input {
    color: #7A7A7A;
    background: none;
    outline: none;
    font-size: 12px;
    font-family: THICCCBOI-Bold, sans-serif;
    font-weight: 700;
    border: none;
}

.react-daterange-picker__inputGroup__input:focus {
    outline: none;
    background-color: transparent !important;
}

.react-daterange-picker__inputGroup__input:invalid {
    background: transparent !important;
}

.react-daterange-picker__range-divider {
    margin-left: 6px;
    margin-right: 6px;
}

.react-daterange-picker__calendar-button,
.react-daterange-picker__clear-button {
    color: #7A7A7A;
}

.react-daterange-picker__calendar {
    border-radius: 8px;
}

.react-calendar__tile--active {
    background: #000000;
    color: white;
}


/* React Pagination */
.pagination {
    display: flex;
    align-items: stretch;
    justify-content: center;
}


.pagination li {
    height: 100%;
    width: 100%;
}

.pagination li a {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F6F6F6;
    padding: 10px 15px;
    font-size: 12px;
    font-family: THICCCBOI-Bold, sans-serif;
    font-weight: 700;
    text-decoration: none;
    margin: 0 5px;
    border-radius: 8px;
    height: 100%;
}

.pagination .disabled a {
    opacity: 0.5;
    cursor: not-allowed;
}

.pagination .active a {
    background-color: #000000;
    color: white;
}


@media screen and (max-width: 1200px) {
    .sidebar>div {
        left: -100%;

        transition: all 0.3s 0.2s ease-in-out;
    }

    .sidebar.active>div {
        left: 0%;
    }

    .sidebar::before {
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        width: 0%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.8);
        z-index: 20;
        transition: all 0.3s ease-in-out;
        /* Add transition property */
    }

    .sidebar.active::before {
        width: 100%;
    }

    .body-wrapper {
        width: 100%;
        margin-left: 0px;
    }

    .content-wrapper {
        padding-left: 30px;
        padding-right: 30px;
    }

    .top-header {
        display: flex;
    }

    .sidebar.active .sidebar-close-btn {
        display: block;
    }

    .hamburger-icon-wrapper {
        display: block;
    }

    .sidebar-close-btn {
        position: fixed;
        top: 55px;
        right: 5%;
        font-size: 30px;
    }
}


@media screen and (max-width: 768px) {
    .sidebar-list-item a {
        font-size: 16px;
    }

    .content-wrapper {
        padding-top: 130px;
    }

    .content-wrapper .content-header-action-btn-wrapper .action-btn {
        width: 250px;
    }
}

@media screen and (max-width: 550px) {
    .sidebar>div {
        width: 100%;
        border-radius: 0%;
    }

    .sidebar-logo {
        height: fit-content;
        padding: 60px;
        text-align: center;
        justify-content: space-between;
    }

    .sidebar-close-btn {
        position: relative;
        top: 7px;
        right: 0px;
        font-size: 30px;
    }

    .ReactModalPortal>div>div {
        width: 100% !important;
    }

    .content-wrapper .content-header-action-btn-wrapper .action-btn {
        width: 230px;
    }
}